.iconInfo {
  display: flex;
  gap: 10px;
  align-items: flex-start;
  position: relative;
  width: 100%;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  flex-shrink: 0;
  width: 17px;
  height: 17px;
}

.iconLabel {
  position: relative;
  flex-shrink: 0;
}

.iconFill {
  position: absolute;
  inset: 0;
}

.iconImage {
  display: block;
  max-width: none;
  width: 100%;
  height: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  flex: 1 0 0;
  gap: 5px;
  align-items: flex-start;
  justify-content: center;
  min-height: 1px;
  min-width: 1px;
  line-height: normal;
  white-space: pre-wrap;
  position: relative;
}

.title {
  font-family: var(--font-montserrat), sans-serif;
  font-weight: 700;
  font-size: 12px;
  color: #2b2a26;
  position: relative;
  flex-shrink: 0;
  width: 100%;
  margin: 0;
}

.text {
  font-family: var(--font-montserrat), sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: #7f8e91;
  position: relative;
  flex-shrink: 0;
  width: 100%;
  margin: 0;
}
