.cardTeam {
  height: 411px;
  overflow: clip;
  position: relative;
  border-radius: 5px;
  width: 266px;
}

.cardTeamGeneric {
  background: #3d491b;
}

.image {
  position: absolute;
  inset: 0 -9px;
}

.imageOverlay {
  position: absolute;
  inset: 0;
  pointer-events: none;
}

.imageElement {
  position: absolute;
  max-width: none;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.imageGradient {
  position: absolute;
  inset: 0;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 67.5%, rgba(0, 0, 0, 0.5) 100%),
    linear-gradient(90deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%);
}

.container {
  position: absolute;
  display: flex;
  flex-direction: column;
  padding: 15px;
}

.containerSpecific {
  bottom: 0;
  gap: 0;
  align-items: flex-start;
  left: 0;
  right: 0;
}

.containerGeneric {
  gap: 40px;
  inset: 0;
  align-items: center;
  justify-content: flex-end;
}

.title {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-end;
  position: relative;
  flex-shrink: 0;
  width: 100%;
}

.name {
  font-family: var(--font-zalando-sans), sans-serif;
  font-weight: 300;
  font-style: normal;
  line-height: 1.2;
  min-width: 100%;
  position: relative;
  flex-shrink: 0;
  font-size: 20px;
  color: white;
  width: min-content;
  white-space: pre-wrap;
  margin: 0;
}

.plus {
  backdrop-filter: blur(16.5px);
  background: #6b7747;
  border: 0.5px solid rgba(247, 253, 250, 0.5);
  display: flex;
  flex-direction: column;
  gap: 0;
  align-items: center;
  justify-content: center;
  padding: 10px 15px;
  position: relative;
  border-radius: 50px;
  flex-shrink: 0;
}

.plusContent {
  display: flex;
  gap: 10px;
  align-items: center;
  position: relative;
  flex-shrink: 0;
}

.starWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-self: stretch;
  padding-right: 5px;
}

.star {
  aspect-ratio: 12 / 13;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}

.starFill {
  position: absolute;
  inset: 0;
}

.starImage {
  display: block;
  max-width: none;
  width: 100%;
  height: 100%;
  filter: brightness(0) saturate(100%) invert(88%) sepia(25%) saturate(2000%) hue-rotate(5deg) brightness(105%) contrast(95%);
}

.plusText {
  font-family: var(--font-montserrat), sans-serif;
  font-weight: 500;
  line-height: 1.2;
  position: relative;
  flex-shrink: 0;
  color: #f7fdfb;
  font-size: 10px;
  text-transform: uppercase;
  margin: 0;
}

.growingTeam {
  flex: 1 0 0;
  font-family: var(--font-zalando-sans), sans-serif;
  font-weight: 300;
  font-style: normal;
  line-height: 1.2;
  min-height: 1px;
  min-width: 1px;
  position: relative;
  font-size: 20px;
  color: white;
  width: 100%;
  white-space: pre-wrap;
  margin: 0;
}

.listing {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  flex-shrink: 0;
  color: #f7fdfb;
  width: 100%;
}

.teamRoleItem {
  width: 100%;
}
