.frame {
  background-color: #f7fdfb;
  display: flex;
  flex-wrap: wrap;
  gap: var(--vertical-spacing-spacing-m, 15px);
  align-items: center;
  overflow: clip;
  padding: var(--vertical-spacing-spacing-s, 10px);
  position: relative;
  border-radius: 10px;
  width: 393px;
}

.illustration {
  overflow: clip;
  position: relative;
  flex-shrink: 0;
  width: 97px;
  height: 97px;
}

.livello2 {
  position: absolute;
  inset: 0.19% 1.15% 0.29% 3.45%;
}

.livello2Inner {
  position: absolute;
  inset: -0.26% -0.27%;
}

.illustrationImage {
  display: block;
  max-width: none;
  width: 100%;
  height: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  flex: 1 0 0;
  gap: var(--vertical-spacing-spacing-m, 15px);
  align-items: flex-start;
  min-height: 1px;
  min-width: 159px;
  padding: var(--vertical-spacing-spacing-m, 15px) 0;
  white-space: pre-wrap;
  position: relative;
  font-family: var(--font-montserrat), sans-serif;
  font-weight: 400;
}

.title {
  line-height: 23px;
  font-size: 14px;
  color: #4f4f4f;
  position: relative;
  flex-shrink: 0;
  width: 100%;
}

.body {
  line-height: 100%;
  font-size: 12px;
  color: #2b2a26;
  position: relative;
  flex-shrink: 0;
  width: 100%;
}
