.logo {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  flex-shrink: 0;
}

.logoImage {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: contain;
  max-width: none;
}
