.valueCard {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
}

.valueCardOn {
  max-width: 550px;
  min-width: 342px;
  width: 550px;
}

.valueCardOff {
  min-width: 223px;
  overflow: clip;
  border-radius: 5px;
  width: 223px;
}

.visual {
  overflow: clip;
  position: relative;
  border-radius: 5px;
  flex-shrink: 0;
  width: 100%;
}

.visualOn {
  height: 478px;
}

.visualOff {
  height: 324px;
}

.imageElement {
  position: absolute;
  inset: 0;
  max-width: none;
  object-fit: cover;
  border-radius: 5px;
  width: 100%;
  height: 100%;
}

.colorBg {
  position: absolute;
  background: #f4f097;
  inset: 0;
}

.colorBgHidden {
  opacity: 0;
}

.imageOverlay {
  position: absolute;
  inset: 0;
  max-width: none;
  object-fit: cover;
  pointer-events: none;
  width: 100%;
  height: 100%;
}

.valueContent {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: flex-start;
  padding: 15px 0;
  color: #2b2a26;
  white-space: pre-wrap;
}

.valueContentOn {
  position: relative;
  flex-shrink: 0;
  width: 100%;
}

.valueContentOff {
  position: absolute;
  height: 1px;
  left: 0;
  right: 0;
  top: 324px;
}

.headline {
  font-family: var(--font-zalando-sans), sans-serif;
  line-height: 1.2;
  font-style: normal;
  position: relative;
  flex-shrink: 0;
  font-size: 20px;
  width: 100%;
  margin: 0;
}

.body {
  font-family: var(--font-montserrat), sans-serif;
  font-weight: 400;
  line-height: 23px;
  position: relative;
  flex-shrink: 0;
  font-size: 14px;
  width: 100%;
  margin: 0;
}

.hidden {
  opacity: 0;
}

.fallbackImage {
  position: absolute;
  inset: 0;
  max-width: none;
  object-fit: cover;
  pointer-events: none;
  border-radius: 5px;
  width: 100%;
  height: 100%;
}
