.languageSelector {
  position: relative;
  background: #2b2a26;
  width: 94px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.mainButton {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  padding: 10px;
  width: 100%;
  background: #2b2a26;
  border: none;
  outline: none;
  cursor: pointer;
  flex-shrink: 0;
}

.flagIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 14px;
  height: 14px;
  border: 1px solid rgba(189, 189, 189, 0.5);
  border-radius: 1px;
  overflow: hidden;
}

.flagIcon svg {
  width: 100%;
  height: 100%;
}

.text {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 10px;
  line-height: 1.2;
  text-transform: uppercase;
  color: #f7fdfb;
  text-align: left;
}

.dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background: #2b2a26;
  display: flex;
  flex-direction: column;
  width: 100%;
  z-index: 1000;
}

.option {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  padding: 10px;
  width: 100%;
  background: #2b2a26;
  border: none;
  outline: none;
  cursor: pointer;
  flex-shrink: 0;
}

.option:hover {
  background: rgba(38, 38, 34, 0.5);
}

.open {
  z-index: 1000;
}

.closed {
  z-index: 1;
}
