.destinationCard {
  height: 284px;
  overflow: clip;
  position: relative;
  border-radius: 10px;
  width: 181px;
}

.image {
  position: absolute;
  aspect-ratio: 181 / 284;
  top: 50%;
  transform: translateY(-50%);
}

.imageOff {
  left: -4px;
  right: -8px;
}

.imageOn {
  left: -5px;
  right: -9.02px;
  top: calc(50% + 2px);
}

.imageOverlay {
  position: absolute;
  inset: 0;
  pointer-events: none;
}

.imageElement {
  position: absolute;
  max-width: none;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.gradientOverlay {
  position: absolute;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 68.75%,
    rgba(0, 0, 0, 0.55) 100%
  );
  inset: 0;
}

.destinationInfoContainer {
  position: absolute;
  backdrop-filter: blur(4.5px);
  background: rgba(0, 0, 0, 0.01);
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  left: 0;
  padding: 30px;
  right: 0;
}

.destinationInfoContainerOn {
  gap: 20px;
}

.destinationNameContainer {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  position: relative;
  flex-shrink: 0;
}

.starWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  flex-shrink: 0;
}

.starWrapperInner {
  flex: none;
  transform: scaleY(-1);
}

.star {
  width: 7px;
  height: 7px;
}

.destinationText {
  font-family: var(--font-zalando-sans), sans-serif;
  font-weight: 300;
  line-height: 1.2;
  font-style: normal;
  position: relative;
  flex-shrink: 0;
  color: #f2f2f2;
  font-size: 20px;
  text-align: center;
  margin: 0;
}

.trailInfo {
  display: flex;
  font-family: var(--font-montserrat), sans-serif;
  font-weight: 500;
  gap: 5px;
  align-items: flex-start;
  line-height: 1.2;
  position: relative;
  flex-shrink: 0;
  font-size: 10px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
}

.trailNumber {
  position: relative;
  flex-shrink: 0;
  margin: 0;
}

.trailLabel {
  position: relative;
  flex-shrink: 0;
  margin: 0;
}
