.vector {
  position: relative;
  width: 3644px;
  height: 2055px;
}

.vectorInner {
  position: absolute;
  inset: -0.02% -0.01% 0 0;
}

.image {
  display: block;
  max-width: none;
  width: 100%;
  height: 100%;
}
