.plus {
  display: flex;
  gap: 5px;
  align-items: center;
  position: relative;
}

.checkSection {
  display: flex;
  gap: 5px;
  align-items: center;
  position: relative;
  flex-shrink: 0;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3px;
  border-radius: 100px;
  flex-shrink: 0;
  width: 17px;
  height: 17px;
}

.iconLabelCheck {
  position: relative;
  flex-shrink: 0;
  height: 6.886px;
  width: 9.636px;
}

.iconLabelInfo {
  position: relative;
  flex-shrink: 0;
  width: 13px;
  height: 13px;
}

.iconImage {
  display: block;
  max-width: none;
  width: 100%;
  height: 100%;
}

.textSection {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  flex-shrink: 0;
}

.text {
  font-family: var(--font-montserrat), sans-serif;
  font-weight: 400;
  line-height: 23px;
  font-size: 14px;
  color: #f7fdfb;
  position: relative;
  flex-shrink: 0;
}
