.mapLines {
  position: relative;
  width: 1297px;
  height: 920px;
}

.image {
  display: block;
  max-width: none;
  width: 100%;
  height: 100%;
}

/* Type 1 - Mask Group */
.maskGroupContainer {
  position: absolute;
  bottom: -11px;
  right: -8.35px;
  width: 1027.094px;
  height: 931px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.maskGroupRotate {
  flex: none;
  transform: rotate(270deg) scaleY(-1);
}

.maskGroup {
  width: 931px;
  height: 1027.094px;
  position: relative;
}

.maskGroupInner {
  position: absolute;
  inset: -0.05% -0.05% -0.05% -0.03%;
}

/* Type 2 - Map 1 */
.map1 {
  position: absolute;
  left: 8px;
  top: 30px;
  width: 1297px;
  height: 920px;
}

/* Type 3 - Map2 */
.map2White {
  position: absolute;
  left: calc(50% + 0.11px);
  top: 50%;
  transform: translate(-50%, -50%);
  width: 1297px;
  height: 920px;
}

.map2Black {
  position: absolute;
  left: 0.11px;
  top: 0;
  width: 1297px;
  height: 920px;
}
