.invoice {
  position: relative;
  width: 87px;
  height: 80px;
}

.livello2 {
  position: absolute;
  inset: 0.19% 1.15% 0.29% 3.45%;
}

.livello2Inner {
  position: absolute;
  inset: -0.31% -0.3%;
}

.image {
  display: block;
  max-width: none;
  width: 100%;
  height: 100%;
}
