.reviewStar {
  display: inline-block;
  width: 30px;
  height: 30px;
  position: relative;
}

.starWrapper {
  position: absolute;
  display: flex;
  inset: 0;
  align-items: center;
  justify-content: center;
}

.starContainer {
  flex: none;
  transform: scaleY(-1);
  width: 30px;
  height: 30px;
  position: relative;
}

.starImage {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: contain;
}
