.specsTravel {
  display: flex;
  gap: 2px;
  height: 25px;
  align-items: center;
  position: relative;
  width: 254px;
}

.difficulty {
  backdrop-filter: blur(12px);
  background: rgba(38, 38, 34, 0.2);
  display: flex;
  flex: 1 0 0;
  gap: 5px;
  height: 100%;
  align-items: center;
  justify-content: center;
  min-height: 1px;
  min-width: 1px;
  padding: 0 30px;
  position: relative;
  border-radius: 3px 0 0 3px;
}

.difficultyRatingWrapper {
  display: flex;
  gap: 3px;
  align-items: center;
  position: relative;
  flex-shrink: 0;
}

.difficultyText {
  font-family: var(--font-montserrat), sans-serif;
  font-weight: 500;
  line-height: 1.2;
  position: relative;
  flex-shrink: 0;
  font-size: 10px;
  color: #ffffff;
  text-transform: uppercase;
  margin: 0;
}

.duration {
  backdrop-filter: blur(12px);
  background: rgba(38, 38, 34, 0.2);
  display: flex;
  flex: 1 0 0;
  height: 100%;
  align-items: center;
  justify-content: center;
  min-height: 1px;
  min-width: 1px;
  padding: 0 30px;
  position: relative;
}

.distance {
  backdrop-filter: blur(12px);
  background: rgba(38, 38, 34, 0.2);
  display: flex;
  flex: 1 0 0;
  height: 100%;
  align-items: center;
  justify-content: center;
  min-height: 1px;
  min-width: 1px;
  padding: 0 30px;
  position: relative;
  border-radius: 0 3px 3px 0;
}

.difficultyDark,
.durationDark,
.distanceDark {
  background: #2b2a26 !important;
}

.specText {
  font-family: var(--font-montserrat), sans-serif;
  font-weight: 500;
  line-height: 1.2;
  position: relative;
  flex-shrink: 0;
  font-size: 10px;
  color: #ffffff;
  text-transform: uppercase;
  margin: 0;
}
