.difficultyRating {
  display: flex;
  gap: 4px;
  align-items: center;
}

.star {
  width: 6.462px;
  height: 7px;
  position: relative;
  flex-shrink: 0;
}

.starEmpty {
  position: absolute;
  inset: 0;
}

.starImage {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: contain;
}
