.roundedCTA {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 15px;
  border-radius: 50px;
  backdrop-filter: blur(16.5px);
  background: rgba(0, 0, 0, 0.05);
  border: 1px solid;
  cursor: pointer;
  transition: all 0.2s ease;
  outline: none;
}

.sizeBig {
  width: 47px;
  height: 47px;
}

.sizeMid {
  width: 40px;
  height: 40px;
  padding: 10px;
}

.colorBlack {
  border-color: rgba(38, 38, 34, 0.4);
}

.colorWhite {
  border-color: rgba(255, 255, 255, 0.5);
}

.sizeMid.colorWhite {
  border-color: rgba(247, 253, 250, 0.5);
}

.roundedCTA:hover {
  opacity: 0.9;
  transform: translateY(-1px);
}

.roundedCTA:active {
  transform: translateY(0);
}
