.flag {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 14px;
  height: 14px;
  border: 1px solid rgba(189, 189, 189, 0.5);
  border-radius: 1px;
  overflow: hidden;
  flex-shrink: 0;
  position: relative;
}

.flagImage {
  width: 16px;
  height: 14.078px;
  position: relative;
  flex-shrink: 0;
}

.flagImageDEU {
  position: relative;
  flex-shrink: 0;
  display: inline-grid;
  grid-template-columns: max-content;
  grid-template-rows: max-content;
  align-items: start;
  justify-items: start;
  line-height: 0;
  width: 18.667px;
  height: 14px;
}

.flagImageESP {
  width: 18.667px;
  height: 14px;
  position: relative;
  flex-shrink: 0;
}

.flagImageENG {
  width: 18.667px;
  height: 14px;
  position: relative;
  flex-shrink: 0;
  overflow: hidden;
}

.flagImg {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: contain;
}

.flagMask {
  position: absolute;
  width: 18.667px;
  height: 14px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  margin-left: calc(50% - 9.33px);
  margin-top: calc(50% - 7px);
  -webkit-mask-image: var(--mask-image);
  mask-image: var(--mask-image);
  -webkit-mask-size: 18.667px 14px;
  mask-size: 18.667px 14px;
  -webkit-mask-position: 0px 0px;
  mask-position: 0px 0px;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-type: alpha;
  mask-type: alpha;
  -webkit-mask-composite: intersect;
  mask-composite: intersect;
}

.flagESPWrapper {
  position: absolute;
  left: calc(50% + 2px);
  top: 50%;
  transform: translate(-50%, -50%);
  display: contents;
}

.flagESPContents {
  position: absolute;
  left: calc(50% + 2px);
  top: 50%;
  transform: translate(-50%, -50%);
  display: contents;
}

.flagESPBackground {
  position: absolute;
  width: 18.667px;
  height: 14px;
  left: calc(50% + 2px);
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-mask-image: var(--mask-image);
  mask-image: var(--mask-image);
  -webkit-mask-size: 18.667px 14px;
  mask-size: 18.667px 14px;
  -webkit-mask-position: 0px 0px;
  mask-position: 0px 0px;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-type: alpha;
  mask-type: alpha;
  -webkit-mask-composite: intersect;
  mask-composite: intersect;
}

.flagESPTop {
  position: absolute;
  width: 18.667px;
  height: 3.5px;
  left: calc(50% + 2px);
  top: calc(50% - 5.25px);
  transform: translate(-50%, -50%);
  -webkit-mask-image: var(--mask-image);
  mask-image: var(--mask-image);
  -webkit-mask-size: 18.667px 14px, 18.667px 14px;
  mask-size: 18.667px 14px, 18.667px 14px;
  -webkit-mask-position: 0px 0px, 0px 0px;
  mask-position: 0px 0px, 0px 0px;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-type: alpha;
  mask-type: alpha;
  -webkit-mask-composite: intersect;
  mask-composite: intersect;
}

.flagESPBottom {
  position: absolute;
  width: 18.667px;
  height: 3.5px;
  left: calc(50% + 2px);
  top: calc(50% + 5.25px);
  transform: translate(-50%, -50%);
  -webkit-mask-image: var(--mask-image);
  mask-image: var(--mask-image);
  -webkit-mask-size: 18.667px 14px, 18.667px 14px;
  mask-size: 18.667px 14px, 18.667px 14px;
  -webkit-mask-position: 0px -10.5px, 0px -10.5px;
  mask-position: 0px -10.5px, 0px -10.5px;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-type: alpha;
  mask-type: alpha;
  -webkit-mask-composite: intersect;
  mask-composite: intersect;
}

.flagESPMark {
  position: absolute;
  left: calc(50% - 0.91px);
  top: calc(50% - 0.56px);
  transform: translate(-50%, -50%);
  display: contents;
}

.flagESPPillars {
  position: absolute;
  width: 8.157px;
  height: 5.684px;
  left: calc(50% - 0.91px);
  top: calc(50% + 0.59px);
  transform: translate(-50%, -50%);
  -webkit-mask-image: var(--mask-image);
  mask-image: var(--mask-image);
  -webkit-mask-size: 18.667px 14px;
  mask-size: 18.667px 14px;
  -webkit-mask-position: -2.341px -4.751px, -2.341px -4.751px;
  mask-position: -2.341px -4.751px, -2.341px -4.751px;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-type: alpha;
  mask-type: alpha;
  -webkit-mask-composite: intersect;
  mask-composite: intersect;
}

.flagESPCrown {
  position: absolute;
  width: 4.515px;
  height: 3.018px;
  left: calc(50% - 0.86px);
  top: calc(50% - 3.11px);
  transform: translate(-50%, -50%);
  -webkit-mask-image: var(--mask-image);
  mask-image: var(--mask-image);
  -webkit-mask-size: 18.667px 14px;
  mask-size: 18.667px 14px;
  -webkit-mask-position: -4.215px -2.378px, -4.215px -2.378px;
  mask-position: -4.215px -2.378px, -4.215px -2.378px;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-type: alpha;
  mask-type: alpha;
  -webkit-mask-composite: intersect;
  mask-composite: intersect;
}

.flagESPShield {
  position: absolute;
  width: 4.247px;
  height: 5.096px;
  left: calc(50% - 0.85px);
  top: calc(50% + 0.95px);
  transform: translate(-50%, -50%);
  -webkit-mask-image: var(--mask-image);
  mask-image: var(--mask-image);
  -webkit-mask-size: 18.667px 14px;
  mask-size: 18.667px 14px;
  -webkit-mask-position: -4.359px -5.404px, -4.359px -5.404px;
  mask-position: -4.359px -5.404px, -4.359px -5.404px;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-type: alpha;
  mask-type: alpha;
  -webkit-mask-composite: intersect;
  mask-composite: intersect;
}

.flagENGWrapper {
  position: absolute;
  inset: 0;
}

.flagENGVector {
  position: absolute;
  inset: 0;
  -webkit-mask-image: var(--mask-image);
  mask-image: var(--mask-image);
  -webkit-mask-size: 18.667px 14px;
  mask-size: 18.667px 14px;
  -webkit-mask-position: 0px 0px;
  mask-position: 0px 0px;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
}

.flagENGGroup {
  position: absolute;
  inset: -9.1% -12.11% -8.75% -13.22%;
  -webkit-mask-image: var(--mask-image);
  mask-image: var(--mask-image);
  -webkit-mask-size: 18.667px 14px, 18.667px 14px, 18.667px 14px;
  mask-size: 18.667px 14px, 18.667px 14px, 18.667px 14px;
  -webkit-mask-position: 2.468px 1.273px, 2.468px 1.273px, 2.468px 1.273px;
  mask-position: 2.468px 1.273px, 2.468px 1.273px, 2.468px 1.273px;
}
