.igCard {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  width: 342.5px;
}

.visual {
  position: relative;
  border-radius: 10px;
  flex-shrink: 0;
  width: 100%;
}

.visualPost {
  aspect-ratio: 340 / 427;
}

.visualReel {
  height: 604px;
}

.imageElement {
  position: absolute;
  inset: 0;
  max-width: none;
  object-fit: contain;
  pointer-events: none;
  border-radius: 10px;
  width: 100%;
  height: 100%;
}

.title {
  display: flex;
  align-items: flex-end;
  padding: 15px 0;
  position: relative;
  flex-shrink: 0;
  width: 100%;
}

.copyText {
  flex: 1 0 0;
  font-family: var(--font-zalando-sans), sans-serif;
  line-height: 1.2;
  min-height: 1px;
  min-width: 1px;
  font-style: normal;
  overflow: hidden;
  position: relative;
  color: #7f8e91;
  font-size: 20px;
  text-overflow: ellipsis;
  white-space: pre-wrap;
  margin: 0;
}
