.star {
  display: inline-block;
  position: relative;
}

.sizebig {
  width: 102px;
  height: 102px;
}

.sizeVariant2 {
  width: 12px;
  height: 13px;
}

.starImage {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: contain;
}
