.cardGiftCard {
  height: 440px;
  overflow: clip;
  position: relative;
  border-radius: 5px;
  width: 266px;
}

.image {
  position: absolute;
}

.imageOff {
  inset: -10px -16px;
}

.imageOn {
  inset: 0 -9px;
}

.imageOverlay {
  position: absolute;
  inset: 0;
  pointer-events: none;
}

.imageElement {
  position: absolute;
  max-width: none;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.gradientOverlay {
  position: absolute;
  inset: 0;
  background-image: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 67.5%,
    rgba(0, 0, 0, 0.5) 100%
  ),
  linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.2) 0%,
    rgba(0, 0, 0, 0.2) 100%
  );
}

.container {
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: flex-start;
  left: 0;
  padding: 10px;
  right: 0;
}

.title {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-end;
  position: relative;
  flex-shrink: 0;
  color: #ffffff;
  white-space: pre-wrap;
  width: 100%;
}

.titleText {
  font-family: var(--font-zalando-sans), sans-serif;
  line-height: 1.2;
  font-style: normal;
  position: relative;
  flex-shrink: 0;
  font-size: 20px;
  width: 100%;
  margin: 0;
}

.titleTextUnderline {
  text-decoration: underline;
  text-decoration-style: solid;
  font-family: var(--font-zalando-sans), sans-serif;
  line-height: 1.2;
  font-style: normal;
  position: relative;
  flex-shrink: 0;
  font-size: 20px;
  width: 100%;
  margin: 0;
}

.bodyText {
  font-family: var(--font-montserrat), sans-serif;
  font-weight: 400;
  line-height: 23px;
  position: relative;
  flex-shrink: 0;
  font-size: 14px;
  width: 100%;
  margin: 0;
}

.priceContainer {
  display: flex;
  height: 40px;
  align-items: flex-start;
  justify-content: space-between;
  padding: 10px 15px;
  position: relative;
  border-radius: 0 0 3px 3px;
  flex-shrink: 0;
  
}

.priceContainerOff {
  background: #f4f097;
}

.priceContainerOn {
  backdrop-filter: blur(12px);
  background: rgba(0, 0, 0, 0.05);
}

.shopIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  position: relative;
  flex-shrink: 0;
  width: 17px;
  height: 17px;
}

.shopIconOff {
  filter: brightness(0);
}

.shopIconOff :global(img) {
  filter: brightness(0);
}

.buyNow {
  display: flex;
  gap: 0px;
  height: 100%;
  align-items: center;
  justify-content: flex-end;
  position: relative;
  flex-shrink: 0;
  width: 170px;
}

.buyNowOff {
  color: #2b2a26;
}

.buyNowOn {
  color: #ffffff;
}

.buyNowText {
  font-family: var(--font-montserrat), sans-serif;
  font-weight: 400;
  line-height: normal;
  position: relative;
  flex-shrink: 0;
  font-size: 12px;
  margin: 0;
}
