.footerBrandLogo {
  position: absolute;
  aspect-ratio: 286 / 48;
  left: 0.94px;
  right: 0.06px;
  top: 0.32px;
}

.brandImage {
  display: block;
  max-width: none;
  width: 100%;
  height: 100%;
}
