.teamRole {
  border-bottom: 1px solid rgba(247, 253, 250, 0.5);
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 10px 0;
  position: relative;
  color: #f7fdfb;
}

.number {
  font-family: var(--font-zalando-sans), sans-serif;
  font-weight: 300;
  font-style: normal;
  line-height: 1.2;
  position: relative;
  flex-shrink: 0;
  font-size: 20px;
  margin: 0;
}

.jobTitle {
  font-family: var(--font-montserrat), sans-serif;
  font-weight: 400;
  line-height: 23px;
  position: relative;
  flex-shrink: 0;
  font-size: 14px;
  width: 217px;
  white-space: pre-wrap;
  margin: 0;
}
