.banner {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  width: 1440px;
}

.bannerBig {
  height: 700px;
  justify-content: space-between;
  padding: 40px 100px;
}

.bannerSmall {
  height: 445px;
  justify-content: flex-end;
  padding: 30px;
}

.background {
  position: absolute;
  inset: 0;
  pointer-events: none;
}

.backgroundImage {
  position: absolute;
  max-width: none;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.overlay {
  position: absolute;
  background: rgba(0, 0, 0, 0.2);
  inset: 0;
}

.container {
  display: flex;
  flex: 1 0 0;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  max-width: 606px;
  min-height: 1px;
  position: relative;
  width: 100%;
}

.bannerBig .container {
  min-width: 342px;
}

.bannerSmall .container {
  min-width: 1px;
}

.tags {
  display: flex;
  gap: 10px;
  align-items: flex-start;
  padding: 10px 0;
  position: relative;
  flex-shrink: 0;
}

.tag {
  backdrop-filter: blur(16.5px);
  background: #6b7747;
  border: 0.5px solid rgba(247, 253, 250, 0.5);
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: center;
  padding: 10px 15px;
  position: relative;
  border-radius: 50px;
  flex-shrink: 0;
}

.featureContent {
  display: flex;
  gap: 10px;
  align-items: center;
  position: relative;
  flex-shrink: 0;
}

.starWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-self: stretch;
}

.star {
  aspect-ratio: 12 / 13;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}

.starFill {
  position: absolute;
  inset: 0;
  --fill-0: rgba(244, 240, 151, 1);
}

.starImage {
  display: block;
  max-width: none;
  width: 100%;
  height: 100%;
}

.tagText {
  font-family: var(--font-montserrat), sans-serif;
  font-weight: 500;
  line-height: 1.2;
  position: relative;
  flex-shrink: 0;
  color: #f7fdfb;
  font-size: 10px;
  text-transform: uppercase;
}

.eventInfo {
  backdrop-filter: blur(12px);
  background: rgba(0, 0, 0, 0.05);
  border: 0.5px solid #f7fdfb;
  display: flex;
  align-items: center;
  position: relative;
  border-radius: 5px;
  flex-shrink: 0;
  width: 100%;
}

.date {
  display: flex;
  flex: 1 0 0;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  min-height: 1px;
  min-width: 1px;
  position: relative;
  white-space: pre-wrap;
}

.dateBig {
  padding: 30px;
  font-style: normal;
}

.dateSmall {
  padding: 15px;
}

.dateText {
  font-family: var(--font-zalando-sans), sans-serif;
  font-weight: 300;
  line-height: 1.2;
  position: relative;
  flex-shrink: 0;
  color: #ffffff;
  font-size: 20px;
  width: 100%;
  margin: 0;
}

.titleBig {
  font-family: var(--font-zalando-sans), sans-serif;
  font-weight: 250;
  line-height: normal;
  position: relative;
  flex-shrink: 0;
  color: #f7fdfb;
  font-size: 50px;
  width: 100%;
  margin: 0;
}

.titleSmall {
  font-family: var(--font-zalando-sans), sans-serif;
  font-weight: 300;
  line-height: 1.2;
  font-style: normal;
  position: relative;
  flex-shrink: 0;
  color: #ffffff;
  font-size: 20px;
  width: 100%;
  margin: 0;
}

.textSmall {
  font-family: var(--font-montserrat), sans-serif;
  font-weight: 400;
  line-height: 23px;
  position: relative;
  flex-shrink: 0;
  color: #f7fdfb;
  font-size: 14px;
  width: 100%;
  margin: 0;
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  padding: 10px;
  position: relative;
  flex-shrink: 0;
  width: 100%;
}

.ctaButton {
  backdrop-filter: blur(16.5px);
  background: #f4f097;
  border: 1px solid #f4f097;
  display: flex;
  gap: 10px;
  height: 40px;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  padding: 10px 15px;
  position: relative;
  border-radius: 5px;
  flex-shrink: 0;
}

.buttonText {
  display: flex;
  align-items: center;
  position: relative;
  flex-shrink: 0;
}

.buttonText p {
  font-family: var(--font-montserrat), sans-serif;
  font-weight: 500;
  line-height: normal;
  position: relative;
  flex-shrink: 0;
  color: #2b2a26;
  font-size: 12px;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  margin: 0;
}

.chevronIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3px;
  position: relative;
  border-radius: 100px;
  flex-shrink: 0;
  width: 17px;
  height: 17px;
}

.hoverColor {
  position: absolute;
  background: #2b2a26;
  bottom: -25px;
  left: calc(50% - 0.5px);
  border-radius: 50px;
  width: 24px;
  height: 24px;
  transform: translateX(-50%);
}
