.mapWaypoint {
  flex: 1 0 0;
  min-height: 1px;
  min-width: 300px;
  position: relative;
  border-radius: 10px;
  height: 460px;
  width: 398px;
}

.mapImage {
  position: absolute;
  inset: 0;
  max-width: none;
  object-fit: cover;
  pointer-events: none;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
