.smallLink {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5px 0;
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  position: relative;
}

.text {
  font-family: var(--font-montserrat), sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0;
  color: #8ebfc4;
  white-space: pre-wrap;
  width: 100%;
}

.active .text {
  color: #8ebfc4;
}

.inactive .text {
  color: #8ebfc4;
}

.underline {
  position: absolute;
  bottom: -1px;
  left: 0;
  right: 0;
  height: 1px;
  background: #8ebfc4;
}

.smallLink:hover .text {
  opacity: 0.8;
}
