.hotelDetails {
  display: flex;
  gap: var(--vertical-spacing-spacing-m, 15px);
  align-items: flex-start;
  padding: 0 var(--vertical-spacing-spacing-s, 10px);
  position: relative;
  width: 477.326px;
}

.gallerySection {
  display: flex;
  flex-direction: column;
  gap: 23px;
  align-items: center;
  align-self: stretch;
  flex-shrink: 0;
  width: 157px;
}

.gallery {
  flex: 1 0 0;
  min-height: 1px;
  min-width: 1px;
  border-radius: 5px;
  width: 100%;
  position: relative;
}

.galleryImage {
  position: absolute;
  inset: 0;
  max-width: none;
  object-fit: cover;
  pointer-events: none;
  border-radius: 5px;
  width: 100%;
  height: 100%;
}

.contactButton {
  backdrop-filter: blur(16.5px);
  background: #2b2a26;
  border: 1px solid rgba(38, 38, 34, 0.4);
  display: flex;
  gap: var(--vertical-spacing-spacing-s, 10px);
  height: 40px;
  align-items: center;
  justify-content: center;
  position: relative;
  color: white;
  border-radius: 5px;
  flex-shrink: 0;
  width: 100%;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3px;
  border-radius: 100px;
  flex-shrink: 0;
  width: 17px;
  height: 17px;
}

.iconLabelPhone {
  position: relative;
  flex-shrink: 0;
  width: 10.986px;
  height: 10.986px;
}

.iconLabelCalendar {
  height: 11px;
  width: 9.625px;
  position: relative;
  flex-shrink: 0;
}

.iconLabelMap {
  height: 10.984px;
  width: 8.25px;
  position: relative;
  flex-shrink: 0;
}

.iconLabelBed {
  height: 9.625px;
  width: 13.75px;
  position: relative;
  flex-shrink: 0;
}

.iconFill {
  position: absolute;
  inset: 0;
}

.iconImage {
  display: block;
  max-width: none;
  width: 100%;
  height: 100%;
}

.buttonText {
  display: flex;
  align-items: center;
  position: relative;
  flex-shrink: 0;
}

.buttonLabel {
  font-family: var(--font-montserrat), sans-serif;
  font-weight: 500;
  line-height: normal;
  font-size: 12px;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  color: #f7fdfb;
  position: relative;
  flex-shrink: 0;
}

.detailsSection {
  display: flex;
  flex-direction: column;
  flex: 1 0 0;
  align-items: flex-start;
  min-height: 1px;
  min-width: 1px;
  position: relative;
}

.detailsContent {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: flex-start;
  position: relative;
  flex-shrink: 0;
  width: 100%;
}

.category {
  font-family: var(--font-montserrat), sans-serif;
  font-weight: 500;
  line-height: normal;
  font-size: 12px;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  color: #4f4f4f;
  position: relative;
  flex-shrink: 0;
  width: 100%;
  white-space: pre-wrap;
}

.hotelName {
  font-family: var(--font-montserrat), sans-serif;
  font-weight: 400;
  line-height: 23px;
  font-size: 14px;
  color: #4f4f4f;
  position: relative;
  flex-shrink: 0;
  width: 100%;
  white-space: pre-wrap;
}

.iconInfoWrapper {
  display: flex;
  gap: 10px;
  align-items: flex-start;
  position: relative;
  flex-shrink: 0;
  width: 100%;
}

.iconInfoContent {
  display: flex;
  flex-direction: column;
  flex: 1 0 0;
  gap: 5px;
  align-items: flex-start;
  justify-content: center;
  min-height: 1px;
  min-width: 1px;
  line-height: normal;
  white-space: pre-wrap;
  position: relative;
}

.iconInfoTitle {
  font-family: var(--font-montserrat), sans-serif;
  font-weight: 700;
  font-size: 12px;
  color: #2b2a26;
  position: relative;
  flex-shrink: 0;
  width: 100%;
}

.iconInfoText {
  font-family: var(--font-montserrat), sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: #7f8e91;
  position: relative;
  flex-shrink: 0;
  width: 100%;
}
