.illustrationBlog {
  position: relative;
  width: 250px;
  height: 241px;
}

.image {
  display: block;
  max-width: none;
  width: 100%;
  height: 100%;
}

.vector1 {
  position: absolute;
  inset: 56.43% 49.67% 0.25% 2.4%;
}

.vector1Inner {
  position: absolute;
  inset: -0.38% -0.3% -0.08% -0.33%;
}

.vector2 {
  position: absolute;
  inset: 56.21% 1.14% 32.75% 0.1%;
}

.vector2Inner {
  position: absolute;
  inset: -0.94% -0.06% -0.81% -0.05%;
}

.vector3 {
  position: absolute;
  inset: 37.38% 44.9% 41.17% 0.18%;
}

.vector3Inner {
  position: absolute;
  inset: -0.48% -0.17% -0.18% -0.04%;
}

.vector4 {
  position: absolute;
  inset: 23.02% 0.05% 61.09% 12.38%;
}

.vector4Inner {
  position: absolute;
  inset: -1.04% -0.04% -1.02% -0.04%;
}

.vector5 {
  position: absolute;
  inset: 15.13% 1.96% 69.42% 77.99%;
}

.vector5Inner {
  position: absolute;
  inset: -0.52% -0.31% -0.45% -0.37%;
}

.star {
  position: absolute;
  left: 2.4%;
  right: 81.6%;
  top: 8px;
  aspect-ratio: 102 / 102;
}
