.reviewScore {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  position: relative;
  width: 184px;
}

.reviews {
  display: flex;
  gap: 10px;
  align-items: flex-end;
  position: relative;
  flex-shrink: 0;
  width: 100%;
}

.score {
  font-family: var(--font-zalando-sans), sans-serif;
  font-weight: 300;
  line-height: normal;
  font-style: normal;
  position: relative;
  flex-shrink: 0;
  font-size: 24px;
  color: #ffffff;
  margin: 0;
}

.reviewsText {
  font-family: var(--font-montserrat), sans-serif;
  font-weight: 400;
  line-height: 0;
  position: relative;
  flex-shrink: 0;
  font-size: 0px;
}

.outOf {
  line-height: 23px;
  font-size: 14px;
  color: #ffffff;
}

.reviewsCount {
  font-family: var(--font-montserrat), sans-serif;
  font-weight: 700;
  line-height: 23px;
  font-size: 14px;
  color: #ffffff;
}

.starsContainer {
  display: flex;
  gap: 5px;
  height: 14px;
  align-items: center;
  position: relative;
  flex-shrink: 0;
  width: 86px;
}

.star {
  aspect-ratio: 17 / 17;
  display: flex;
  flex: 1 0 0;
  align-items: center;
  justify-content: center;
  min-height: 1px;
  min-width: 1px;
  padding: 3px;
  position: relative;
  border-radius: 100px;
}

.iconLabel {
  height: 13.005px;
  position: relative;
  flex-shrink: 0;
  width: 13.613px;
}

.starImage {
  display: block;
  max-width: none;
  width: 100%;
  height: 100%;
}
