.footerSocialIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3px;
  position: relative;
  border-radius: 100px;
  flex-shrink: 0;
}

.iconWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 100px;
}

.iconImage {
  position: relative;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.iconImg {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: contain;
}
